@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
}

body {
    margin: 0;
    font-family: 'Source Sans Pro';
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #eceff1;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/c.jpg);
    background-size: 1920px 1024px;
    position: absolute;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29434e;
    padding: 8px 25px;
    z-index: 999999;
}

.header__logo {
    font-family: abster;
    font-size: 28px;
}

.header__logo i {
    color: #d49466;
}

.header__nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header__nav li{
    transition: all .4s;
    padding: 8px 40px;
}

.header__nav li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.header__contact {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header__contact li {
    margin: 8px 15px;
}

.header__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
}

.hero {
    position: absolute;
    width: 650px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.hero h1{
    margin: 0;
}

.hero p:first-child{
    margin-bottom: 0;
}

.mbti {
    display: flex;
    flex-wrap: wrap;
}

.mbti h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border: 1px ;
    border-radius: 50%;
    font-size: 85px;
    text-align: center;
    background-color: #7A86B6;
    color: white;
    opacity: 0.7;
}

.mbti__text{
    display: flex;
    flex-wrap: wrap;
    margin: 70px 170px;
    padding-left: 0;
    gap: 300px 780px;
    list-style: none;
    width: 100%;
}

.mbti__text li{
    color: white;
    width: 130px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    background-color: #9CB4CC;
    color: white;
    opacity: 0.85;
}

.favorite__main {
    display: flex;
    justify-content: space-around;
    padding: 120px 15px;
    align-items: center;
}

.favorite__text p {
    color: #eceff1;
    font-size: 45px;
    text-align: center;
    margin: 0;
}

.favorite__text p:last-child {
    font-weight: bold;
    font-size: 80px;
}

.hero #dynamic {
    position: relative;
    display: inline-block;
}

.hero #dynamic::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}

.hero #dynamic.active::after{
    display: none;
}

@media screen and (max-width:1000px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header__nav li {
        width: 100%;
        text-align: center;
    }

    .header__contact {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .header__nav.active,
    .header__contact.active {
        display: flex;
    }

    .header__toggleBtn {
        display: block;
    }

    .favorite__main {
        flex-direction: column;
        padding-top: 50px;
        gap: 30px;
    }

    #favorite__video iframe {
        width: 426px;
        height: 240px;
    }

    .hero,
    #dynamic {
        font-size: 20px;
    }
}

@media screen and (max-width:1380px) {
    .mbti__text {
        display: none;
    }
}