@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/c.jpg);
    background-size: 1920px 1024px;
    position: absolute;
}

.container .header {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999999;
}

.container .header h1 a{
    text-decoration: none;
    color: white;
    font-family: abster;
}

.container .nav ul li{
    display: inline-block;
    margin: 0 10px;
}

.container .nav ul li a{
    background: none;
    border: 2px solid darkseagreen;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 15px 20px;
    outline: none;
    transition: all .4s;
    text-decoration: none;
    color: white;
}

.container .nav ul li a:hover{
    color: darkslategray;
    background-color: aliceblue;
}

.container .hero {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .hero h2{
    font-size: 80px;
    margin-bottom: 20px;
}

.container .hero p:first-child{
    font-size: 40px;
}

.mbti h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border: 1px ;
    border-radius: 50%;
    font-size: 85px;
    text-align: center;
    background-color: #7A86B6;
    color: white;
    opacity: 0.7;
}

.container .mbti {
    width: 100%;
    height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .text_1 ul li{
    list-style: none;
    margin: 200px;
    color: white;
    width: 130px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    background-color: #9CB4CC;
    color: white;
    opacity: 0.85;
}

.container .text_2 ul li{
    list-style: none;
    margin: 200px;
    color: white;
    width: 130px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    background-color: #9CB4CC;
    color: white;
    opacity: 0.85;
}

.container .grid h2{
    font-size: 80px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    clear: both;
    margin-top: 150px;
}

.grid_text {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
}

#video {
    display: inline-block;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 20%;
    height: 40px;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 93%;
    transform: translate(-50%, -50%);
}

.contact li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.contact li {
    display: inline-block;
    margin: 0 52px;
}

.hero #dynamic {
    position: relative;
    display: inline-block;
    font-size: 35px;
}

.hero #dynamic::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}

.hero #dynamic.active::after{
    display: none;
}